<% provide(:title, "About") %>

    
    <li><%= image_tag('sliderpics/rpfront.jpg') %></li>
    <li><%= image_tag('sliderpics/onesteak.jpg') %></li>
    <li><%= image_tag('sliderpics/rpbar.jpg') %></li>
    <li><%= image_tag('sliderpics/burger.jpg') %></li>
    <li><%= image_tag('sliderpics/city.jpg') %></li>
    <li><%= image_tag('sliderpics/rpdining.jpg') %></li>
    <li><%= image_tag('sliderpics/twosteaks.jpg') %></li>
    <li><%= image_tag('sliderpics/rpterrace.jpg') %></li>
    <li><%= image_tag('sliderpics/sushi.jpg') %></li>
    <li><%= image_tag('sliderpics/rpterracenight.jpg') %></li>
    <li><%= image_tag('sliderpics/burger.jpg') %></li> 