<% provide(:title, "Login Admin") %>
<% provide(:path, admin_login_path) %>

<div id="LoginForm">
  <div class="container">
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
         <h2>Admin Login</h2>
         <p>Please enter your email and password</p>
       </div>
       <%= form_for(:session, url: admin_login_path,  html: {id: "Login"}) do |f| %> 
       <%= f.label :email  %>
       <%= f.text_field :email, placeholder: "Type your email here", class: 'form-control' %>
       <%= f.label :password %>
       <%= f.password_field :password, placeholder: "Type your password here", class: 'form-control' %>
       <div class="container">
          <div class="row"> 
       <div class="forgot col-md-2">
         <%= f.check_box :remember_me %>
         <label><%= f.label :remember_me %></label>
       </div>
       <div class="forgot col-md-2">
         <label><input type="checkbox" onclick="showMyPassword('session_password')">Show Password</label> 
       </div>
</div></div>

       <%= f.submit "Log-In", class: "btn btn-primary"%>
       <div class="remember-forgot">
        <div class="row">
          <div class="col-md-6 forgot-pass-content">
            <%= link_to "(forgot password)", new_admin_password_reset_path, class: 'forgot' %>
          </div>
        </div>

        
        <% end %>
      </div>
    </div></div></div>
   
  </div>

