<div class="list-group">
  <br>
  <%= link_to "Add Breakfast Item Here", new_breakfast_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Lunch Item Here", new_lunch_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Happy Hour Item Here", new_happy_hour_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Dinner Item Here", new_dinner_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Late-Night Item Here", new_latenight_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Brunch Item Here", new_brunch_path, class: "list-group-item list-group-item-action" %>

</div>
