<div class="list-group">
  <br>
  <%= link_to "Add Breakfast Item Here", new_breakfast_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Lunch Item Here", new_lunch_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Happy Hour Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Dinner Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Late-Night Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Brunch Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Add Delivery or Pick-up Item here", "#", class: "list-group-item list-group-item-action" %> 

  
  
</div>
