<div class="list-group">
  <br>
  <%= link_to "Delete Breakfast Item Here", search_breakfast_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Delete Lunch Item Here", search_lunch_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Delete Happy Hour Item Here", search_happyhour_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Delete Dinner Item Here", search_dinner_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Delete Late-Night Item Here", search_latenight_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Delete Brunch Item Here", search_brunch_path, class: "list-group-item list-group-item-action" %>
</div>
