<div class="list-group">
  <br>
  <%= link_to "Search Breakfast Item Here", search_breakfast_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Lunch Item Here", search_lunch_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Happy Hour Item Here", search_happyhour_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Dinner Item Here", search_dinner_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Late-Night Item Here", search_latenight_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Brunch Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Search Delivery or Pick-up Item here", "#", class: "list-group-item list-group-item-action" %> 

  
  
</div>