<div class="list-group">
  <br>
  <%= link_to "Edit Breakfast Item Here", search_breakfast_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Lunch Item Here", search_lunch_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Happy Hour Item Here", search_happyhour_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Dinner Item Here", search_dinner_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Late-Night Item Here", search_latenight_path, class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Brunch Item Here", "#", class: "list-group-item list-group-item-action" %>
  <%= link_to "Edit Delivery or Pick-up Item here", "#", class: "list-group-item list-group-item-action" %> 

  
  
</div>
