

<%= simple_form_for(@user, url: yield(:path)) do |f| %>
<%= f.error_notification %> 
<div class="rightsignup">  
  <div class="container">
    <h1>So nice to have you, good food and drinks awaits you!</h1>
    <div class="row">
      <div class="form-group col-md-4">
        <%= f.input :first_name, placeholder: "Type name here" %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :last_name, placeholder: "Type last name here" %>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-4">
        <%= f.input :email, placeholder: "Type email here " %>
      </div>
      <div class="form-group col-md-4">
        <%= f.input :phone_number, placeholder: "Type phone number here"%>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-4">
        <%= f.input :password, placeholder: "Type password here"%>
        <input type="checkbox" onclick="showMyPassword('user_password')">Show Password
      </div>
      <div class="form-group col-md-4">
        <%= f.input :password_confirmation, placeholder: "Re-type password here"%>
        <input type="checkbox" onclick="showMyPassword('user_password_confirmation')">Show Password
      </div>
      <div 
      class="clearfix">
      </div>
      <div>
      </div>
      <div class="clearfix"></div>
      <div class="form-group col-md-12">
        <div class="announcement">
          <p>I understand & agree to the Terms and Conditions and that my information will be used as described on this page and in the Privacy Policy.</p>
          <%= f.input :terms %>
        </div>
      </div>    
      <div class="clearfix"></div>
      <div class="container">
        <div class="row">
          <div class=" btn">
            <%= f.submit yield(:button_text), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
