<header class="navbaradmin navbaradmin-inverse navbar-fixed-bottom>
  <div class="container">
    <div class="navbaradmin-header">
      <a class="navbaradmin-brand" href="#">Roy's Place</a>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home",  admin_dashboard_home_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Customers <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add Customer", admin_signup_path %></li>
              <li><%= link_to "Update Customer", admin_search_customer_path %></li>
              <li><%= link_to "Delete Customer", admin_search_customer_path %></li>
              <li><%= link_to "Search Customer", admin_search_customer_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Add Item",  "#" %></li>
              <li><%= link_to "Update Item", "#" %></li>
              <li><a href="#">Delete Item</a></li>
              <li><a href="#">Search Item</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menus <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Breakfast</a></li>
              <li><a href="#">Lunch</a></li>
              <li><a href="#">Happy Hour</a></li>
              <li><a href="#">Dinner</a></li>
              <li><a href="#">Late Night</a></li>
              <li><a href="#">Brunch</a></li>
              <li><a href="#">Catering</a></li>
            </ul>
          </li>
          <li>
          <% if logged_in? %>
            <%= render 'layouts/admin_master_page/account' %>
          <% else %>
            <%= link_to "Login", admin_login_path %>
          <% end %>
          </li>
        </ul>
      </div>
  </div>
</header>