


<!-- Main menu -->
<section class="section-mainmenu p-t-110 p-b-70 bg1-pattern">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-6 p-r-35 p-r-15-lg m-l-r-auto">
        <div class="wrap-item-mainmenu p-b-22">
          <h3 class="tit-mainmenu tit10 p-b-25">
            STARTERS
          </h3>

          <% @breakfasts.each do |breakfast| %>
          <% if breakfast.section == "Starters" %>
          <!-- Item mainmenu -->
          <div class="item-mainmenu m-b-36">
            <div class="flex-w flex-b m-b-3">
              <a href="#" class="name-item-mainmenu txt21">
               <%= breakfast.name %>
             </a>
             <div class="line-item-mainmenu bg3-pattern"></div>
             <div class="price-item-mainmenu txt22">
              <%= breakfast.price%>
            </div>
          </div>
          <span class="info-item-mainmenu txt23">
            <%= breakfast.description %>
          </span>
          <p><%= button_to "Add to Cart", "#", class: "btn btn-sm btn-primary"  %></p>
          
        </div>
        <% end %>
        <% end %>

        <%= render 'breakfasts/partials/classics_row' %>




            

           





    
  


   
