<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-center">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "About",  about_path %></li>
        <li><%= link_to "Menus", menus_path %></li>
        <li><%= link_to "Bagged", bagged_path %></li>
        <li><%= link_to "Offers", offers_path %></li>
        <li><%= link_to "Engage-Us", contact_path %></li>
        <% if logged_in? %>
          <%= render 'layouts/partials/dropdownheader/account_info' %>
            <% else %>
            <li><%= link_to "Log-In", customer_login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
<br>
  <div class="main-container">
    <br><br><br>
    <%= link_to "ROY'S PLACE", root_path, id: "main-header" %> 
    <%= link_to "", root_path, id: "main-logo" %>
    <br>

    <!-- start banner Area -->
      <section>   
        <div class="container">
          <div class="row fullscreen align-items-center justify-content-between">
            <div class="col-lg-12 banner-content">
              <h6 class="text-white">Wide Options of Choice</h6>
              <h1>Delicious Recipes</h1>
              <p>
                 “Long practice has taught me that one pleasure leads to another, tell me what you eat, and I will tell you what you are.” Welcome to the lengthiest meal you'll ever eat in your life”. What begins as a breakfast demonstration of this technique for egg-and-cheese fondue turns into an impromptu day-long affair as we press more and more food on you, our delighted guests. (Jean Anthelme Brillat-Savarin)</p>
              <a class="primary-btn" <%= link_to "Check Our Menus", menus_path %></a>
              <% unless logged_in? %>
              <a class="primary-btn" <%= link_to "Join us now!", customer_signup_path %></a>
               <% end %> 
            </div>
          </div>
        </div>          
      </section>
      <!-- End banner Area --> 
  </div>

  



  





